# openssl rand -hex 32
ENCRYPTION_KEY="XXX"

# openssl rand -base64 20
JWT_SECRET="XXX"
SESSION_SECRET="XXX"

REDIS_PASSWORD="XXX"
POSTGRES_PASSWORD="XXX"

DOMAIN="example.com"

SMTP_HOST="smtp.example.com"
SMTP_USERNAME="username@example.com"
SMTP_PASSWORD="XXX"
SMTP_SENDER="authelia@example.com"

# openssl rand -hex 32
HMAC_SECRET="XXX"

# docker run --rm authelia/authelia:latest authelia crypto hash generate pbkdf2 --variant sha512 --random --random.length 72 --random.charset rfc3986
LOBE_PASSWORD="XXX"
LOBE_SECRET="XXX"