# openssl rand -hex 32
ENCRYPTION_KEY="XXX"

# openssl rand -base64 20
JWT_SECRET="XXX"
SESSION_SECRET="XXX"

REDIS_PASSWORD="XXX"
POSTGRES_PASSWORD="XXX"

DOMAIN="example.com"

SMTP_HOST="smtp.example.com"
SMTP_USERNAME="username@example.com"
SMTP_PASSWORD="XXX"
SMTP_SENDER="authelia@example.com"