DOMAIN=example.com
LEGACY_XPANEL_AUTHORITY=legacy.example.com:9999
LEGACY_XPANEL_SUB_PATH=legacy-sub-path
PATH_XPANEL=xpanel-path
PATH_XPANEL_SUB=xpanel-sub-path
PATH_XPANEL_JSON=xpanel-json-path
CADDYFILES_PATH="./caddyfiles/3x-ui.caddyfile ./caddyfiles/another-file.caddyfile" # space-separated list of paths