################### main ###################

{%- set domains_configs = os.environ['CADDYFILES_DICT'] | from_json %}
{%- set authelia_config = os.environ['CADDYFILE_AUTHELIA_CONFIG'] | default('') %}

{%- if authelia_config %}
import {{ authelia_config.strip() }}
{% endif %}

{%- for domain, config_files in domains_configs.items() %}
{{ domain }} {
{%- for config_file in config_files %}
    import {{ config_file.strip() }}
{%- endfor %}
}
{%- endfor %}
