################### main ###################

{% set domains_configs = os.environ['CADDYFILES_DICT'] | from_json %}

{%- for domain, config_files in domains_configs.items() %}
    {{ domain }} {
    {%- for config_file in config_files %}
        import {{ config_file.strip() }}
    {%- endfor %}
    }
{%- endfor %}
